@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  background-color: aliceblue;
}

body {
  zoom: 300%;
}

button {
  background-color: bisque;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.1rem black;
}

button:active {
  box-shadow: 0.2rem 0.1rem black;
  transform: translateY(0.1rem) translateX(0.2rem);
}

h1 {
  width: 10rem;
  height: 4rem;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 3px solid black;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: lightskyblue;
}

sub,
sup {
  background-color: lightskyblue;
}

.moveaway {
  transition: transform 1s;
}
